@import "tailwindcss";

/* @theme {
  --color-dark-black: "#1b1b1b";
} */

body {
  background-color: "#1b1b1b";
  color: "#ffffff";
  font-family: "SF Pro", Helvetica, Arial, sans-serif;
  font-size: 32px;
}
