@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    position: relative;
    flex: 1;
    padding: 20% 0px 20px 130px; /* first 120px, figure out positioning later */
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

.caption {
  position: relative;
  font-size: 66px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  color: "#ffffffc9";

  span {
    color: "#ffffff";
    font-weight: 700;
  }
}

.sub-caption {
  font-size: 22px;
  font-family: "Reddit Sans", sans-serif;
  font-weight: 700;
  color: "#ffffffe6";
  line-height: 0px; /* moves it up */
}

.desc {
  font-size: 16px;
  font-family: "Reddit Sans", sans-serif;
  font-weight: 500;
}

.background {
  background: linear-gradient(180deg, #040719 0%, #04064b 50%, #8f3e6b 99.99%);
}

.title {
  font-size: 66px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  color: "#ffffff";
  padding: 30px 0px 40px 0px;
}

.text {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Reddit Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 30px;
}

.text a {
  text-decoration: none;
}

.project-title {
  color: #000;
  font-family: "Reddit Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project-desc {
  font-size: 14px;
  font-family: "Reddit Sans", sans-serif;
  font-weight: 400;
}

.tab {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Reddit Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.active-tab {
  color: #fff;
  font-weight: 700;
}
