@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    position: relative;
    flex: 1;
    padding: 120px 20px 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: none;
    pointer-events: none;
  }
}

.caption {
  position: relative;
  font-size: 66px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  color: "#ffffffc9";

  span {
    color: "#ffffff";
    font-weight: 700;
  }
}

.sub-caption {
  font-size: 22px;
  font-family: "Reddit Sans", sans-serif;
  font-weight: 700;
  color: "#ffffffe6";
}
